* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(brooklyn.jpg);
  background-repeat:no-repeat;
  background-size: 200%;
  height: 100%;
}

.clock {
  position: absolute;
  float: left;
  height:200px;
  width: 200px;
  background-color: white;
  border-radius: 100%;
  border:10px solid black;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: block;
  margin-top: 200px;
  }

  .clock .top {
    position: absolute;
    height:8px;
    width: 3px;
    background-color:#262626;
    left:0;
    right:0;
    margin: auto;
  }

.clock .right {
  position: absolute;
  width: 8px;
  height:3px;
  background-color:#262626;
  top:0;
  bottom:0;
  right:0;
  margin: auto;
}

.clock .bottom {
  position: absolute;
  height:8px;
  width: 3px;
  background-color:#262626;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
}
.clock .left {
  position: absolute;
  width: 8px;
  height:3px;
  background-color:#262626;
  top:0;
  left:0;
  bottom:0;
  margin: auto;
}

.clock .center {
  height:6px;
  width:6px;
  background-color: #262626;
  border-radius: 100%;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
}

.clock .shadow{
  background: linear-gradient (rgba(0, 0, 0, 0),
                                rgba(0, 0, 0, 0.1));
height: 200px;
width: 200px;
position: absolute;
left: 60px;
top:60px;
transform: rotate(135deg);
}
 .clock .hour{
   width: 3px;
   height: 100%;
   position: absolute;
   left:0;
   right:0;
   margin: 0 auto;
   animation: time 60s infinite linear;
 }

 .clock .hour:before{
   content: "";
   height: 60px;
   width: 3px;
   background-color: #262626;
   position: absolute;
   top:30px;
 }

 .clock .minute{
   width:1px;
   height:100%;
   position: absolute;
   left:0;
   right:0;
   margin: 0 auto;
   animation: time 30s infinite linear;
 }

 .clock .minute:before {
   position: absolute;
   content: "";
   background-color: #262626;
   height: 40px;
   width:1px;
   top:50px;
 }

 @keyframes time {
   to {
     transform: rotate(360deg);
   }
 }
h1 {
  color:purple;
  text-align: center;
}

.box{
  background-color: gray;
  opacity: 40%;
  color:white;
  float: right;
  padding: 10px;
  margin-top: 400px;
  margin-left: : 800px;
}
button{
  text-align: center;
  border: red;
  padding: 2px;
  color: pink;
  }
