body {
  background-color:#ecbf31;
  background-image: url("images/photos/pink.jpg");
}

.intro {
  float: left;
  width: 33.33%;
}


.image:after {
  content: "";
  display: table;
  clear: both;
}

.column2{
  background-color: white;
  border: 5px solid black;
}

.carnival1{
  width: 150px;
  height: 150px;
  padding: 5px;
  border: 2px solid black;
}

.carnival2{
  width: 150px;
  height:150px;
  border: 2px solid black;
}

.containter2{
  background-color: white;
  border: 2px solid black;
}
